﻿<!DOCTYPE html>
<html>
    <head>
        <title>Frontend Applicant Test</title>
        <link rel="stylesheet" href="/dist/styles.css" type="text/css">
    </head>
    <body ng-app="myApp">
        <div class="container" ng-controller="appController as countries">
            <h1>Content Report</h1>
            <div class="dropdown">
                <select ng-model="selectedCountry" ng-options="key as key for (key , value) in countries track by key">
                    <option value="">All</option>
                </select>
            </div>
            <h2 class="channel-count">Total Channel Count: {{channelsCount}}</h2>
            <h2 class="devices-count">Total Devices Count: {{devicesCount}}</h2>
            <div class="graph">
                <ul>
                    <li ng-repeat="(key, value) in countries | filterCountries:selectedCountry track by key">
                        <div class="country-name">{{key}}</div> 
                        <div class="channels" ng-style="{'width': value.Channels + 'px'}">{{value.Channels}}</div>
                        <div class="devices">{{value.Devices}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>